@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  color: black;
}

.a4 {
  width: 210mm;
  height: 297mm;
  border: 2px black solid;
  margin: 0 auto;
}

.sidebar {
  width: 250px;
  height: 100%;
  background-color: rgb(0, 102, 102);
  float: right;
}

.profile-img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin: 20px auto;
  display: block;
}

.sidebar-title {
  margin: 50px 0 0 50px;
}

.title {
  font-size: 35px;
  margin: 40px 0 0 25px;
}

.subtitle {
  font-size: 20px;
  margin-left: 25px;
  color: cornflowerblue;
}

.information {
  margin-left: 25px;
  font-family: "Montserrat", sans-serif;
}

.information .contact-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.information .contact-list li {
  margin-right: 20px;
}

.information .contact-list li a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

.information .contact-list li a i {
  margin-right: 5px;
}

.information .contact-list li a:hover {
  color: blue;
}

.bx {
  font-size: 15px;
}

.summary {
  margin: 0 0 0 25px;
}

.title-body {
  margin: 50px 0 0 0;
}

.line {
  height: 1px;
  width: 460px;
  background-color: black;
  margin: 10px 0 10px 0;
}

.summary-text {
  width: 460px;
  text-align: justify;
  font-size: 12px;
}

.experience {
  margin: 12px 0 0 25px;
}

.experience-company {
  font-size: 15px;
}

.experience-date {
  font-size: 15px;
  margin-bottom: 10px;
}

.experience-text {
  width: 460px;
  text-align: justify;
  font-size: 12px;
}

.education {
  margin: 12px 0 0 25px;
}

.education-company {
  font-size: 15px;
}

.education-date {
  font-size: 15px;
  margin-bottom: 5px;
}

.line-sidebar {
  height: 1px;
  width: 200px;
  background-color: white;
  margin: 15px 0 15px 0;
}

.skills {
  margin: 12px 0 0 25px;
  color: white;
}

.language {
  margin: 12px 0 0 25px;
  color: white;
}

@media only screen and (max-width: 768px) {
  .a4 {
    width: 100%;
    border: none;
  }

  .sidebar {
    width: 100%;
    float: none;
    padding-bottom: 20px; /* Ajuste opcional */
  }

  .profile-img {
    margin: 20px auto;
  }

  .sidebar-title {
    margin: 20px 0 0 0;
  }

  .title {
    margin: 20px 0 0 0;
    text-align: center;
  }

  .subtitle {
    margin: 5px 0 0 0;
    text-align: center;
  }

  .information {
    margin: 20px 0 0 0;
  }

  .information .contact-list li {
    margin-right: 10px;
  }

  .line {
    width: 100%;
    margin: 10px 0;
  }

  .summary,
  .experience,
  .education,
  .skills,
  .language {
    margin: 20px 0 0 0;
  }

  .skills-item,
  .language-item {
    display: flex;
    flex-wrap: wrap;
  }

  .skills-title,
  .education-title,
  .experience-title {
    width: 50%;
  }
}